
/* start sideBar component */
.author-img{
    width: 140px;
    height: 150px;
    border-radius: 50%;
}

.aside-data{
    /* font-family: 'Quicksand', sans-serif; */
    font-family: 'Playfair Display', serif;
    padding-bottom: 40px;
    width: 300px;
    z-index: 1001;
    background: #f2f3f7;
    overflow: scroll;
    position: fixed;

}

/* animate the underline */
.aside-data #main-menu ul li a{
  transition: .5s;
  letter-spacing: 2px;
  color: black;
  font-weight: bold;
  }

.aside-data #main-menu ul li a:hover{color: #2c98f0;}

.aside-data #main-menu ul li a::after{
  content: "";
  background: #2c98f0;
  position: absolute;
  width: 100%;
  height: 0.1rem;
  left: 0;
  bottom: -2px;
  padding-left: .5rem;
  transform:scale(0,1);
  transform-origin: 50% 100%;
  transition:transform 1s ease;
  }

.aside-data #main-menu ul li a:hover::after{transform: scale(1,1);} 

.aside-data #main-menu ul li .active{color: #2c98f0;}
.aside-data #main-menu ul li .active::after{transform:scale(1,1);}
/* animate the underline */

/* .icon{
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
} */





/* start introduction component */
#intro{
  background-image: url('/src/images/header.webp');
  background-size: cover;
  height: 39rem;
  margin-right: 0rem;
}
#intro .styles_typicalWrapper__1_Uvh
{
  color: black;
  font-family: 'Playfair Display', serif;
  font-size: 4.5rem;
  margin-top: 24rem;
  margin-left: 10rem;
}
/* end introduction component */



/* start About and timeline components */
#about, #tline, #work {
margin-left: 21rem;
margin-top: 6rem;
}

#about .p-tx, #tline .p-tx, #work .p-tx{
letter-spacing: 5px;
margin-bottom: 2rem;
font-family: 'Quicksand', sans-serif;
font-size: 80%;
}

#about h4, #tline h4, #work h4{
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
}
.text-gray{color: #ccc;}
#tline .ms{
  margin-left: 4rem;
  background-color:#f2f3f7;
  margin-bottom: 3rem;
  padding: 2rem;
}


#tline .t-card-1,
#tline .t-card-2,
#tline .t-card-3,
#tline .t-card-end
{
    margin: 3rem;
    color: white;
    border: 4px solid #d1d3da;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    top: -42px;
    left: -120px;
}

#tline .t-card-end
{
    border: 4px solid #d1d3da;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    top: 190px;
}

#tline .t-card-1{background-color: #a84cb8;}
#tline .t-card-2{background-color: #f9bf3f;}
#tline .t-card-3{background-color: #2fa499;}


#tline .t-card-1 .pen-1,
#tline .t-card-2 .pen-2,
#tline .t-card-3 .pen-3
{
  top: 10px;
  left: 10px;
}

#tline .content .tr-1,
#tline .content .tr-2,
#tline .content .tr-3
{
  color:#f2f3f7;
  top: 4px;
  left: -15px;
  font-size: 3rem;
}

#tline .content .line-1,
#tline .content .line-2,
#tline .content .line-3
{
  background-color:#d1d3da;
  width: .3rem;
  height: 12rem;
  top: 50px;
  left: -45px;
}
#tline .content .line-2{height: 15rem;}
/* end About and timeline components */

/* start recent work components */
#work{margin-top: 15rem;}
#work .pic{
  width: 30rem;
  height: 18rem;
  margin-bottom: 2rem;
  transition: .5s;
}
#work .overlay{
  width: 30rem;
  height: 18rem;
  top: 0px;
  left: 14px;
  background-color: rgb(0, 0, 0,.8);
  opacity: 0;
  transition: .8s;
}
#work .overlay h5{
  top: 50%;
  left: 30%;
  font-family: 'Playfair Display', serif;

}
#work .col-md-6:hover .overlay{opacity: 1;}
/* end recent work components */

























































































































































































































/* .nav-toggle{
    cursor: pointer;
    text-decoration: none;
}

.nav-toggle .active i::before, .nav-toggle .active i::after,
.nav-toggle .dark .active i::before, .nav-toggle .dark .active i::after
    { background: #000; }

.nav-toggle:hover, .nav-toggle:focus, .nav-toggle:active {
    outline: none;
    border-bottom: none !important; 
    }

.nav-toggle i {
    position: relative;
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 30px;
    height: 2px;
    color: #000;
    font: bold 14px;
    text-transform: uppercase;
    text-indent: -55px;
    background: #000;
    transition: all .2s ease-out; 
    }

.nav-toggle i::before, .nav-toggle i::after {
    content: '';
    width: 30px;
    height: 2px;
    background: #000;
    position: absolute;
    left: 0;
    transition: 0.2s; 
    }

.nav-toggle .dark i {
    position: relative;
    color: #000;
    background: #000;
    transition: all .2s ease-out; 
    }

.nav-toggle .dark i::before, .nav-toggle .dark i::after {
    background: #000;
    transition: 0.2s; 
    }

.nav-toggle i::before {top: -7px; }
    
.nav-toggle i::after {bottom: -7px; }
    
.nav-toggle:hover i::before {top: -10px; }
    
.nav-toggle:hover i::after {bottom: -10px; }


.nav-toggle .active i {background: transparent; }
  
.nav-toggle .active i::before {
    top: 0; 
    transform: rotateZ(45deg); 
    }
  
.nav-toggle .active i::after {
    bottom: 0;
    transform: rotateZ(-45deg); 
    }
  
.nav-toggle {
    position: fixed;
    left: -5px;
    top: 0px;
    z-index: 9999;
    cursor: pointer;
    opacity: 1;
    visibility: hidden;
    padding: 20px;
    transition: 0.5s; 
    }
 */


    /* 

        @media screen and (max-width: 768px) {
          #main-menu {
            width: 100%;
            padding: 0 1em; } } */

/* @media (max-width: 768px) {
    .aside-data{
      width: 250px;
      left: -100%;
      padding-top: 4em; 
      position: absolute;

       }} */
/*     
   .icon{
      display: block;
    } */


    /* #check:checked ~ #aside-data{left: 0%;} */

    


/* end sideBar component */






/* start expertise component */
/* 
#expertise{
  margin-left: 21rem;
  margin-top: 7rem;
  margin-bottom: 5rem;
}
.exp-card .e-1{margin-left: 15rem !important;}

.exp-card .exp{border:1px solid black; margin: .5rem;padding: 2rem;}

.exp-card .exp .exp-icons .up,
.exp-card .exp .exp-icons .down
{font-size: 11rem;color: black;}

.exp-card .exp .exp-icons .up{
  top: -148px;
  left: 35%;
}
.exp-card .exp .exp-icons .middle{
  top: -32px;
  left: 35%;
  width: 6.3rem;
  height: 2rem;
  background-color: black;
}

.exp-card .exp .exp-icons .down{top: 10;left: 50%;} */


/* #expertise .exp .exp-data{
  margin-left: 20rem;
  margin-top: 5rem;
} */
/* end expertise component */
